@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  /*** COLORS ***/

  --sui-white: #ffffff;

  --sui-gray-50: #fafafc;
  --sui-gray-100: #f2f2f5;
  --sui-gray-200: #ebedf2;
  --sui-gray-300: #e3e4eb;
  --sui-gray-400: #c7c8d9;
  --sui-gray-500: #abacc2;
  --sui-gray-600: #8e90a6;
  --sui-gray-700: #555770;
  --sui-gray-800: #2e283d;
  --sui-gray-900: #1f1c28;

  --sui-purple-50: #eee9ff;
  --sui-purple-100: #ecddff;
  --sui-purple-200: #d8bbff;
  --sui-purple-300: #c299ff;
  --sui-purple-400: #8b55ff;
  --sui-purple-500: #662eff;
  --sui-purple-600: #5729d0;
  --sui-purple-700: #4824a2;
  --sui-purple-800: #351877;
  --sui-purple-900: #25104f;
  --sui-purple-950: #221040;
  --sui-purple-955: #1b0d33;

  --sui-blue-50: #e6f7ff;
  --sui-blue-100: #bae7ff;
  --sui-blue-200: #91d5ff;
  --sui-blue-300: #69c0ff;
  --sui-blue-400: #40a9ff;
  --sui-blue-500: #1890ff;
  --sui-blue-600: #096dd9;
  --sui-blue-700: #0050b3;
  --sui-blue-800: #003a8c;
  --sui-blue-900: #002766;

  --sui-red-50: #fff1f0;
  --sui-red-100: #ffccc7;
  --sui-red-200: #ffa39e;
  --sui-red-300: #ff7875;
  --sui-red-400: #ff4d4f;
  --sui-red-500: #f5222d;
  --sui-red-600: #cf1322;
  --sui-red-700: #a8071a;
  --sui-red-800: #820014;
  --sui-red-900: #5c0011;

  --sui-orange-50: #fffbe6;
  --sui-orange-100: #fff1b8;
  --sui-orange-200: #ffe58f;
  --sui-orange-300: #ffd666;
  --sui-orange-400: #ffc53d;
  --sui-orange-500: #faad14;
  --sui-orange-600: #d48806;
  --sui-orange-700: #ad6800;
  --sui-orange-800: #874d00;
  --sui-orange-900: #613400;

  --sui-yellow-50: #feffe6;
  --sui-yellow-100: #ffffb8;
  --sui-yellow-200: #fffb8f;
  --sui-yellow-300: #fff566;
  --sui-yellow-400: #ffec3d;
  --sui-yellow-500: #fadb14;
  --sui-yellow-600: #d4b106;
  --sui-yellow-700: #ad8b00;
  --sui-yellow-800: #876800;
  --sui-yellow-900: #614700;

  --sui-green-50: #d4fbdd;
  --sui-green-100: #ccfcd7;
  --sui-green-200: #adf3bd;
  --sui-green-300: #83e099;
  --sui-green-400: #5ad677;
  --sui-green-500: #2fbc4f;
  --sui-green-600: #238d3b;
  --sui-green-700: #1a6a2c;
  --sui-green-800: #144f21;
  --sui-green-900: #0f3b19;

  --sui-pink-50: #fff0f6;
  --sui-pink-100: #ffd6e7;
  --sui-pink-200: #ffadd2;
  --sui-pink-300: #ff85c0;
  --sui-pink-400: #f759ab;
  --sui-pink-500: #eb2f96;
  --sui-pink-600: #c41d7f;
  --sui-pink-700: #9e1068;
  --sui-pink-800: #780650;
  --sui-pink-900: #520339;

  --sui-indigo-50: #f0f5ff;
  --sui-indigo-100: #d6e4ff;
  --sui-indigo-200: #adc6ff;
  --sui-indigo-300: #85a5ff;
  --sui-indigo-400: #597ef7;
  --sui-indigo-500: #2f54eb;
  --sui-indigo-600: #1d39c4;
  --sui-indigo-700: #10239e;
  --sui-indigo-800: #061178;
  --sui-indigo-900: #030852;

  --sui-cyan-50: #e6fffb;
  --sui-cyan-100: #b5f5ec;
  --sui-cyan-200: #87e8de;
  --sui-cyan-300: #5cdbd3;
  --sui-cyan-400: #36cfc9;
  --sui-cyan-500: #13c2c2;
  --sui-cyan-600: #08979c;
  --sui-cyan-700: #006d75;
  --sui-cyan-800: #00474f;
  --sui-cyan-900: #002329;

  /** SHADOWS **/
  --sui-shadow-01: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 1px 2px rgba(96, 97, 112, 0.08);
  --sui-shadow-02: 0px 2px 3px rgba(28, 28, 40, 0.05);
  --sui-shadow-03: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
  --sui-shadow-04: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
  --sui-shadow-05: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
  --sui-shadow-06: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);

  /*** TYPOGRAPHY ***/
  --sui-ff-primary: Roboto, sans-serif;

  /** TYPOGRAPHY COLORS **/
  --sui-font-color-primary: var(--sui-gray-900);
  --sui-font-color-secondary: var(--sui-gray-700);
  --sui-font-color-tertiary: var(--sui-gray-500);
  --sui-link-color: var(--sui-purple-500);
  --sui-caption-color: var(--sui-gray-700);

  --sui-alert: var(--sui-red-500);
  --sui-warning: var(--sui-orange-500);
  --sui-success: var(--sui-green-600);
}

/** HEADING **/

.sui-h-900 {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.sui-h-800 {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.sui-h-700 {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.sui-h-600 {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.sui-h-500 {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.sui-h-400 {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.sui-h-300 {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.sui-h-300-upp {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.sui-h-200 {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.sui-h-200-upp {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.sui-h-100 {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}

.sui-h-100-upp {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/** TEXT **/

.sui-text-16px-regular {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.sui-text-14px-regular {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.sui-text-14px-medium {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.sui-text-12px-regular {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.sui-text-12px-medium {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.sui-link-12px-regular {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.sui-link-14px {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--sui-link-color);
  line-height: 20px;
  text-decoration: none;
}

.sui-link-12px {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--sui-link-color);
  line-height: 16px;
  text-decoration: none;
}

.sui-link-14px:hover,
.sui-link-12px:hover {
  text-decoration-line: underline;
}

.sui-caption-regular {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: var(--sui-caption-color);
  line-height: 16px;
}

.sui-caption-medium {
  font-family: var(--sui-ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: var(--sui-caption-color);
  line-height: 16px;
}

.flexspace {
  flex: 1 0;
}
